<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/site.css")
    @Scripts.Render("~/Scripts/jQuery.min.js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">
        <!-- BEGIN TOP NAV -->
        @Html.Partial("_nav")
        <!-- /.top-navbar -->
        <!-- END TOP NAV -->
        <div class="sidebar-left sidebar-nicescroller" tabindex="5000" style="overflow: hidden;
            outline: none;">
            @Html.Partial("_menu")
        </div>
        <div class="page-content">  
            <div class="container-fluid-md">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/app.js")
    @RenderSection("ScriptAssets", required: false)
    @RenderSection("ScriptBlock", required: false)
</body>
</html>
